Repository cosmonic-labs/openapi2mcp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cosmonic-labs/maintainers, @cosmonic-labs/rust-team, @cosmonic-labs/openapi-experts, @cosmonic-labs/mcp-experts, @cosmonic-labs/cli-experts, @cosmonic-labs/testing-team, @cosmonic-labs/devops-team, @cosmonic-labs/docs-team

feat: use mcp-server-template-ts
  .claude/settings.local.json
  README.md
  src/mcp.rs
Owners: @cosmonic-labs/maintainers, @cosmonic-labs/docs-team, @cosmonic-labs/mcp-experts

fix: point mcp-server-template-ts to relative path
  src/mcp.rs
Owners: @cosmonic-labs/mcp-experts

feat: support wasm32-wasip2 compilation with file backend
  .wash/config.json
  .wash/wasmcloud.lock
  Cargo.lock
  Cargo.toml
  src/backend/mod.rs
  src/backend/native.rs
  src/cli.rs
  src/client.rs
  src/lib.rs
  src/main.rs
  src/mcp.rs
  src/openapi.rs
  src/wasm/mod.rs
  src/wasm/plugin.rs
  wit/deps/wasi-cli-0.2.0/package.wit
  wit/deps/wasi-clocks-0.2.0/package.wit
  wit/deps/wasi-filesystem-0.2.0/package.wit
  wit/deps/wasi-http-0.2.0/package.wit
  wit/deps/wasi-io-0.2.0/package.wit
  wit/deps/wasi-logging-0.1.0-draft/package.wit
  wit/deps/wasi-random-0.2.0/package.wit
  wit/deps/wasi-sockets-0.2.0/package.wit
  wit/deps/wasmcloud-wash-0.0.1/package.wit
  wit/world.wit
Owners: @cosmonic-labs/maintainers, @cosmonic-labs/rust-team, @cosmonic-labs/cli-experts, @cosmonic-labs/mcp-experts, @cosmonic-labs/openapi-experts

fix: plugin updates
  .wash/config.json
  src/wasm/plugin.rs
Owners: @cosmonic-labs/maintainers, @cosmonic-labs/rust-team

fix: plugin updates
  .wash/config.json
  src/wasm/plugin.rs
Owners: @cosmonic-labs/maintainers, @cosmonic-labs/rust-team

feat: support wasm32-wasip2 compilation with file backend
  .wash/config.json
  .wash/wasmcloud.lock
  Cargo.lock
  Cargo.toml
  src/backend/mod.rs
  src/backend/native.rs
  src/cli.rs
  src/client.rs
  src/lib.rs
  src/main.rs
  src/mcp.rs
  src/openapi.rs
  src/wasm/mod.rs
  src/wasm/plugin.rs
  wit/deps/wasi-cli-0.2.0/package.wit
  wit/deps/wasi-clocks-0.2.0/package.wit
  wit/deps/wasi-filesystem-0.2.0/package.wit
  wit/deps/wasi-http-0.2.0/package.wit
  wit/deps/wasi-io-0.2.0/package.wit
  wit/deps/wasi-logging-0.1.0-draft/package.wit
  wit/deps/wasi-random-0.2.0/package.wit
  wit/deps/wasi-sockets-0.2.0/package.wit
  wit/deps/wasmcloud-wash-0.0.1/package.wit
  wit/world.wit
Owners: @cosmonic-labs/maintainers, @cosmonic-labs/rust-team, @cosmonic-labs/cli-experts, @cosmonic-labs/mcp-experts, @cosmonic-labs/openapi-experts

.github/CODEOWNERS:

# Global owners - require review for all changes
* @cosmonic-labs/maintainers

# Core Rust code
/src/ @cosmonic-labs/rust-team
/Cargo.toml @cosmonic-labs/rust-team
/Cargo.lock @cosmonic-labs/rust-team

# OpenAPI parsing and schema handling
/src/openapi.rs @cosmonic-labs/openapi-experts
/examples/ @cosmonic-labs/openapi-experts

# MCP generation and templates
/src/mcp.rs @cosmonic-labs/mcp-experts

# CLI interface
/src/cli.rs @cosmonic-labs/cli-experts
/src/main.rs @cosmonic-labs/cli-experts

# Testing
/tests/ @cosmonic-labs/testing-team
/src/**/*test*.rs @cosmonic-labs/testing-team

# CI/CD and DevOps
/.github/ @cosmonic-labs/devops-team
/.github/workflows/ @cosmonic-labs/devops-team

# Documentation  
/README.md @cosmonic-labs/docs-team
/CLAUDE.md @cosmonic-labs/docs-team
/examples/README.md @cosmonic-labs/docs-team
