Repository cosmonic-labs/openapi2mcp, changes with the labels that .github/labeler.yml gives for each.
All labels: openapi, mcp, cli, tests, documentation, ci, dependencies

.github/labeler.yml:

# Configuration for the pull request labeler

# OpenAPI related changes
"openapi":
  - changed-files:
    - any-glob-to-any-file: 
      - "src/openapi.rs"
      - "examples/**/*.yaml"
      - "examples/**/*.json"

# MCP related changes  
"mcp":
  - changed-files:
    - any-glob-to-any-file: "src/mcp.rs"

# CLI changes
"cli":
  - changed-files:
    - any-glob-to-any-file: 
      - "src/cli.rs"
      - "src/main.rs"

# Tests
"tests":
  - changed-files:
    - any-glob-to-any-file: 
      - "src/**/*test*.rs"
      - "tests/**/*.rs"

# Documentation
"documentation":
  - changed-files:
    - any-glob-to-any-file: 
      - "README.md"
      - "CLAUDE.md"
      - "examples/README.md"
      - "docs/**/*"

# CI/CD
"ci":
  - changed-files:
    - any-glob-to-any-file: 
      - ".github/workflows/**"
      - ".github/dependabot.yml"
      - ".github/labeler.yml"

# Dependencies
"dependencies":
  - changed-files:
    - any-glob-to-any-file: 
      - "Cargo.toml"
      - "Cargo.lock"

# Bug fixes
"bug":
  - title: 
    - "/fix/i"
    - "/bug/i"

# Features  
"enhancement":
  - title:
    - "/feat/i"
    - "/feature/i"
    - "/add/i"

# Breaking changes
"breaking":
  - title:
    - "/break/i"
    - "/breaking/i"

feat: use mcp-server-template-ts
  .claude/settings.local.json
  README.md
  src/mcp.rs
Labels: mcp, documentation

fix: point mcp-server-template-ts to relative path
  src/mcp.rs
Labels: mcp

feat: support wasm32-wasip2 compilation with file backend
  .wash/config.json
  .wash/wasmcloud.lock
  Cargo.lock
  Cargo.toml
  src/backend/mod.rs
  src/backend/native.rs
  src/cli.rs
  src/client.rs
  src/lib.rs
  src/main.rs
  src/mcp.rs
  src/openapi.rs
  src/wasm/mod.rs
  src/wasm/plugin.rs
  wit/deps/wasi-cli-0.2.0/package.wit
  wit/deps/wasi-clocks-0.2.0/package.wit
  wit/deps/wasi-filesystem-0.2.0/package.wit
  wit/deps/wasi-http-0.2.0/package.wit
  wit/deps/wasi-io-0.2.0/package.wit
  wit/deps/wasi-logging-0.1.0-draft/package.wit
  wit/deps/wasi-random-0.2.0/package.wit
  wit/deps/wasi-sockets-0.2.0/package.wit
  wit/deps/wasmcloud-wash-0.0.1/package.wit
  wit/world.wit
Labels: openapi, mcp, cli, dependencies

fix: plugin updates
  .wash/config.json
  src/wasm/plugin.rs
Labels: none

fix: plugin updates
  .wash/config.json
  src/wasm/plugin.rs
Labels: none

feat: support wasm32-wasip2 compilation with file backend
  .wash/config.json
  .wash/wasmcloud.lock
  Cargo.lock
  Cargo.toml
  src/backend/mod.rs
  src/backend/native.rs
  src/cli.rs
  src/client.rs
  src/lib.rs
  src/main.rs
  src/mcp.rs
  src/openapi.rs
  src/wasm/mod.rs
  src/wasm/plugin.rs
  wit/deps/wasi-cli-0.2.0/package.wit
  wit/deps/wasi-clocks-0.2.0/package.wit
  wit/deps/wasi-filesystem-0.2.0/package.wit
  wit/deps/wasi-http-0.2.0/package.wit
  wit/deps/wasi-io-0.2.0/package.wit
  wit/deps/wasi-logging-0.1.0-draft/package.wit
  wit/deps/wasi-random-0.2.0/package.wit
  wit/deps/wasi-sockets-0.2.0/package.wit
  wit/deps/wasmcloud-wash-0.0.1/package.wit
  wit/world.wit
Labels: openapi, mcp, cli, dependencies
